@model Article
@{
    ViewData["Title"] = "Library Catalog";
}
            <h1 class="text-center">Welcome to the Library Catalog</h1>
            <p class="pt-5 lh-lg fst-italic fs-4">
                Follow the links on the left to contribute an entry to the Library's vaults; 
                use the search function to search for a specific article; 
                or check out our featured article below.
            </p>
                <form asp-action="Search" asp-controller="Library" class="container">
                    <div class="row">
                        <input type="text" placeholder="Enter a title, keyword, topic, etc..." name="key" class="col-md-10">
                        <button type="submit" class="col-md-2"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            <div class="mt-5">
                <h2 class="text-center">Featured Article:</h2>
                @if (Model.Content != "")
                {
                    string[] formatted = Model.Content.Split("\n");
                    <h3 class="text-center pb-3">@Model.Title</h3>
                    
                    
                    foreach (string par in formatted)
                    {
                        if (par.StartsWith("**"))
                        {
                            <h5 class="p-3">@par.Substring(2, par.Length - 4)</h5>
                        }
                        else if (par.Length < 100)
                        {
                            <h4 class="p3">@par</h4>
                        }
                        else
                        {
                            <p>@par</p>
                        }
                    }
                }
            </div>