@model Article

@{
    ViewData["Title"] = "Editor";
    Layout = "_Layout";
}

<h2>Editor</h2>
<form method="post" asp-action="Edit" class="container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row p-2">
        <label asp-for="CategoryId" class="col-form-label col-md-2 mb-3">Topic</label>
        <div class="col-md-8">
            <select asp-for="CategoryId" class="form-select">
                <option value="">select a topic</option>
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.Name</option>
                }
            </select>
        </div>
        <div class="col">
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>
    <div class="row p-2">
        <label asp-for="Title" class="col-form-label col-md-2 mb-3">Title</label>
        <div class="col-md-8">
            <input asp-for="Title" class="form-control bg-dark-subtle"/>
        </div>
        <div class="col">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="row p-2">
        <label asp-for="Content" class="col-form-label col-md-2 mb-3">Text</label>
        <div class="col-md-8">
            <textarea asp-for="Content" class="form-control bg-info-subtle" rows="15"></textarea>
        </div>
        <div class="col">
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>
    <div class="row p-2">
        <label asp-for="Protected" class="col-form-label col-md-2 mb-3">Protected</label>
        <div class="col-md-8">
            <select asp-for="Protected" class="form-select">
                <option value="">select an option</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="col">
            <span asp-validation-for="Protected" class="text-danger"></span>
        </div>
    </div>
    <input type="hidden" asp-for="ArticleId">
    <div class="offset-8">
        <button type="submit" class="btn btn-success">Save</button>
        <a asp-action="Select" asp-controller="Admin" class="btn btn-danger">Cancel</a>
    </div>
</form>
