@model List<Contribution>

@{
    ViewBag.Title = "Contribution Management";
}

<h2>Contribution Management</h2>
<p class="p-5 fst-italic fs-5">
    Listed below are all outstanding contributions with all relevant data. 
    Click on the link in order to vet it.
</p>
@if (Model.Count > 0)
{
    <table class="table table-dark table-bordered table-striped">
        <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Date Submitted
            </th>
            <th>
                Submitted by
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (Contribution c in Model)
        {
            <tr>
                <td>
                    <a asp-action="Vet" asp-controller="Admin" asp-route-id="@c.ContributionId">@c.Title</a>
                </td>
                <td>
                    @c.Date
                </td>
                <td>
                    @c.Contributor.UserName
                </td>
            </tr>
        }
        </tbody>
    </table>    
}
else
{
    <p class="fs-4">There are no outstanding contributions at present.</p>
}
