@model LoginVM

@{
    ViewBag.Title = "Log In";
}
<h2 class="p-5">Log In</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
    <div class="row m-5">
        <label asp-for="Username" class="col-md-4 col-form-label">Username:</label>
        <div class="col-md-6">
            <input asp-for="Username" class="form-control"/>
        </div>
        <div class="col">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-5">
        <label asp-for="Password" class="col-md-4 form-label">Password:</label>
        <div class="col-md-6">
            <input asp-for="Password" class="form-control"/>
        </div>
        <div class="col">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-5">
        <div class="col offset-md-4">
            <input type="checkbox" title="Remember Me" asp-for="RememberMe" class="form-check-inline"/>
            <label>Remember Me</label>
        </div>
    </div>
    <div class="row m-5">
        <div class="col offset-md-4">
            <button type="submit" class="btn btn-primary me-1">Log In</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Cancel</a>
        </div>
    </div>
    <div class="row m-5">
        <div class="col offset-md-4">
            Not registered? <a asp-action="Register">Register as a new user</a>
        </div>
    </div>
</form>


