@model Contribution
@{
    ViewData["Title"] = "Contribution Form";
}

<h1 class="display-4">Contribution Form</h1>
<form method="post" class="container">
    <span>@ViewBag.ErrorMessage</span>
    <div class="row p-2">
        <label asp-for="Title" class="col-form-label col-md-2 mb-3">Title</label>
        <div class="col-md-8">
            <input asp-for="Title" class="form-control bg-dark-subtle">
        </div>
    </div>
    <div class="row p-2">
        <label asp-for="Content" class="col-form-label col-md-2 mb-3">Content</label>
        <div class="col-md-8">
            <textarea asp-for="Content" class="form-control bg-dark-subtle" rows="15"></textarea>
        </div>
    </div>
    <div class="row p-2 offset-8">
        <div class="col-md-2 me-3">
            <button type="submit" class="btn btn-danger">Submit</button>
        </div>
        <div class="col-md-2">
            <a asp-controller="Converse" asp-action="Index" class="btn btn-warning">Cancel</a>
        </div>
    </div>
</form>