@model Conversation
@{
    ViewBag.Title = "Confirm Delete";
}

<h2>Confirm Delete</h2>
<p class="text-danger fs-4 fst-italic p-3">
    Are you sure you want to delete this conversation? All replies to the conversation will also be deleted.
</p>
<div class="text-center text-warning">
    <h5>Title: @Model.Title</h5>
    <p>Conversation Starter: @Model.Content</p>
</div>


<form method="post" asp-action="ConfirmDeleteConversation">
    <input type="hidden" asp-for="ConversationId"/>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Portal" class="btn btn-warning">Cancel</a>
</form>
